@using Microsoft.AspNetCore.Components.Rendering
@using Microsoft.AspNetCore.Components.Sections
@inherits MainLayout

<HeadContent>
    <link rel="stylesheet" href="furry/css/ffxiv.css" />
    <link rel="stylesheet" href="furry/css/ffxivword.css" />
    <link rel="stylesheet" href="css/link.css" />
</HeadContent>

<div class="layout-card">
    <RadzenStack AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Gap="0.5em">
        <RadzenCard class="ffxiv-window" Variant="Variant.Text">
            @Body
        </RadzenCard>
    </RadzenStack>
</div>