@using Microsoft.AspNetCore.Components.Rendering
@using Microsoft.AspNetCore.Components.Sections
@inherits MainLayout

<HeadContent>
    <link rel="stylesheet" href="furry/css/furry.css" />
    <link rel="stylesheet" href="css/link.css" />
</HeadContent>


<div class="layout-card">
    <RadzenStack AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Gap="0.5em">
        <RadzenCard class="ajh-primary-background">
            @Body
        </RadzenCard>
    </RadzenStack>
</div>