@page "/Furry/FFXIV"
@layout FFXIVLayout

<RadzenStack Gap="0.5em">
    <RadzenText TextStyle="TextStyle.DisplayH2">@Strings.Furry.Sections.HobbiesSubsections.FFXIVSubSection.Title</RadzenText>

    <RadzenCard class="rz-shadow-0 ajh-secondary-background">
            <p>@Strings.Furry.Sections.HobbiesSubsections.FFXIVSubSection.Greeting</p>
    </RadzenCard>



</RadzenStack>