<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/7.css">
    <link rel="stylesheet" href="/src/css/personal.css">
    <title>{{title}}</title>
</head>

<body>
    <div class="window glass active main-window" style="--w7-w-bg: #588053">
        <div class="title-bar">
            <div class="title-bar-text">{{title}}</div>
        </div>
        <div class="window-body has-space">
            {{content}}
        </div>
    </div>
</body>

</html>