<div class="main-window-body window-body has-space">
    <div class="grid-layout">
        <div class="grid-nav">
            {{ include "nav/nav.vto"}}
        </div>
        <div class="grid-content">
            {{content}}
        </div>
    </div>
</div>