body{
    background: #fff !important;
}

.main{
    background: linear-gradient(0deg, rgba(48,48,48,1) 90%, rgba(31,31,31,1) 91%, rgba(48,48,48,1) 92%, rgba(97,99,98,1) 100%);
    box-shadow: inset 0 0 10px #000;

    border: 4px ridge #977F51 !important;
    border-radius: 10px !important;
}