:root{
    --Color-Primary: 43,43,43;
    --color-Primary-darker: hsl(from var(--color-Primary) h s calc(l - 5%)); 
    --color-Primary-darkest: hsl(from var(--color-Primary) h s calc(l - 10%));

    --Color-Secondary: 88,88,88;
    --color-Secondary-darker: hsl(from var(--color-Secondary) h s calc(l - 5%)); 
    --color-Secondary-darkest: hsl(from var(--color-Secondary) h s calc(l - 10%));

    --Color-Tetriary: 255,255,255;
    --color-Tetriary-darker: hsl(from var(--color-Tetriary) h s calc(l - 5%)); 
    --color-Tetriary-darkest: hsl(from var(--color-Tetriary) h s calc(l - 10%));

    --Color-Accent: 88,128,83;
    --color-Accent-darker: hsl(from var(--color-Accent) h s calc(l - 5%)); 
    --color-Accent-darkest: hsl(from var(--color-Accent) h s calc(l - 10%));
}