@import url("../fonts/Bungee-Regular.ttf");
@import url("https://fonts.googleapis.com/css2?family=Bungee:wght@100&display=swap");

@font-face {
	font-family: "Bungee Regular";
	src: url(../fonts/Bungee-Regular.ttf);
}

@font-face {
	font-family: "Noto Sans";
	src: url(../fonts/NotoSans.ttf);
}
