@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.link-list > div,
a {
	border-radius: 10px;
	padding: 0.25em;
	margin: 0.5em 0.25em 0.5em 0.25em;
	cursor: pointer;

	/* font */
	font-family: "Noto Sans", sans-serif;
	font-size: 1em;
	font-weight: 100;
	color: #fff;
}

.link-list > div > a:hover,
a:visited,
a:link,
a:active {
	cursor: pointer;
	text-decoration: none;
}

.link-list > div > * > i {
	padding-right: 0.1em;
	padding-left: 0.1em;
}

.link-list > div > * > .username {
	display: inline-flex;
	margin-left: 1em;
	justify-content: right;
	align-items: right;
	overflow: hidden;
}

.github {
	color: #fff;
	background-color: #010409;
}

.steam {
	color: #fff;
	background-color: #231f20;
}

.mastodon {
	color: #fff;
	background-color: #6364ff;
}

.mastodon > a {
	padding-left: unset;
}

.discord {
	color: #fff;
	background-color: #7289da;
}

.FFXIV {
	color: #fff;
	background-color: #9e2536;
	display: block;
}

.KerduThorin {
	color: #fff !important;
	background: linear-gradient(90deg, #588053 0%, #bb1515 100%);
}

.furry-gallery {
	color: #fff;
	background-color: #588053;
}
