body {
	/* centering */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;

	margin: unset;

	background: linear-gradient(-45deg, rgb(var(--Color-Secondary)), rgb(var(--Color-Primary)));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.main {
	/* centering */
    max-width: 90%;
	max-height: 90%;
	min-width: 10%;
	min-height: 10%;

	/* padding */
	padding: 1em;
}

.main.glass{
    /* glass effect */
	background: rgba(var(--Color-Accent), 0.425);
	border-radius: 10px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	-moz-border: 1px solid rgba(var(--Color-Accent-darker), 0.3);
	border: 1px solid rgba(var(--Color-Accent-darker), 0.3);
}

.title {
	/* font */
	font-family: "Bungee Regular", sans-serif;
	font-size: 1em;
	font-weight: 100;
	color: #fff;
	text-align: center;
	width: -moz-fit-content;
	width: fit-content;
	justify-content: center;
    display: inline-flex;
    height: 100%;
    align-items: center;
}

.subtitle {
	/* font */
	font-family: "Noto Sans", sans-serif;
	font-size: 1em;
	font-weight: 100;
	color: #fff;
}

.subtitle > div{
    margin-top: 0.5em;
}

.glass {
	/* glass effect */
	background: #2b2b2bb0;
	border-radius: 10px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
	-webkit-backdrop-filter: blur(5px);
	-moz-border: 1px solid rgba(var(--Color-Primary), 0.302);
	backdrop-filter: blur(5px);
	border: 1px solid rgba(var(--Color-Primary), 0.302);
	padding: 0.5em;

	filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.2));
}

.furrypfp {
    width: 5em;
    margin-right: 0.5em;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
