<div>
    <img src="src/img/badges/p_pride_pup.gif" alt="Puppy pride flag 83x11 Button">
    <img src="src/img/badges/mlm.png" alt="Male loving Male pride flag 83x11 Button">
    <img src="src/img/badges/ourpaws.png" alt="Made with out own two paws 83x11 Button">
    <img src="src/img/badges/css.png" alt="Css is awesome 83x11 Button">
    <img src="src/img/badges/CodedWithPride.gif" alt="Coded with Pride 83x11 Button">
    <img src="src/img/badges/steam.gif" alt="Steam 83x11 Button">
    <img src="src/img/badges/vscbutton.gif" alt="Visual Studio Code 83x11 Button">
    <img src="src/img/badges/sitebestviewedwithacomputermonitorbutton.gif"
        alt="Site best viewed with a computer monitor 83x11 Button">
</div>