.story-container {
	margin: 0 auto;
	max-width: 36em;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	-webkit-hyphens: auto;
	hyphens: auto;
	overflow-wrap: break-word;
	text-rendering: optimizeLegibility;
	font-kerning: normal;
}

@media (max-width: 600px) {
	div.story-container {
		font-size: 0.9em;
		padding: 12px;
	}

	div.story-container > h1 {
		font-size: 1.8em;
	}
}

@media print {
	html {
		background-color: white;
	}

	.story-container {
		background-color: transparent;
		color: black;
		font-size: 12pt;
	}

	div.story-container > p,
	div.story-container > h2,
	div.story-container > h3 {
		orphans: 3;
		widows: 3;
	}

	div.story-container > h2,
	div.story-container > h3,
	div.story-container > h4 {
		page-break-after: avoid;
	}
}

div.story-container > p {
	margin: 1em 0;
}

div.story-container > a {
	color: #1a1a1a;
}

	div.story-container > a:visited {
		color: #1a1a1a;
	}

div.story-container > img {
	max-width: 100%;
}

div.story-container > svg {
	height: auto;
	max-width: 100%;
}

div.story-container > h1,
div.story-container > h2,
div.story-container > h3,
div.story-container > h4,
div.story-container > h5,
div.story-container > h6 {
	margin-top: 1.4em;
}

div.story-container > h5,
div.story-container > h6 {
	font-size: 1em;
	font-style: italic;
}

div.story-container > h6 {
	font-weight: normal;
}

div.story-container > ol,
div.story-container > ul {
	padding-left: 1.7em;
	margin-top: 1em;
}

div.story-container > li > ol,
div.story-container > li > ul {
	margin-top: 0;
}

div.story-container > blockquote {
	margin: 1em 0 1em 1.7em;
	padding-left: 1em;
	border-left: 2px solid #e6e6e6;
	color: #606060;
}

div.story-container > code {
	font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
	font-size: 85%;
	margin: 0;
	-webkit-hyphens: manual;
	hyphens: manual;
}

div.story-container > pre {
	margin: 1em 0;
	overflow: auto;
}

	div.story-container > pre code {
		padding: 0;
		overflow: visible;
		overflow-wrap: normal;
	}

div.story-container > .sourceCode {
	background-color: transparent;
	overflow: visible;
}

div.story-container > hr {
	background-color: #1a1a1a;
	border: none;
	height: 1px;
	margin: 1em 0;
}

div.story-container > table {
	margin: 1em 0;
	border-collapse: collapse;
	width: 100%;
	overflow-x: auto;
	display: block;
	font-variant-numeric: lining-nums tabular-nums;
}

	div.story-container > table caption {
		margin-bottom: 0.75em;
	}

div.story-container > t.story-container {
	margin-top: 0.5em;
	border-top: 1px solid #1a1a1a;
	border-bottom: 1px solid #1a1a1a;
}

div.story-container > th {
	border-top: 1px solid #1a1a1a;
	padding: 0.25em 0.5em 0.25em 0.5em;
}

div.story-container > td {
	padding: 0.125em 0.5em 0.25em 0.5em;
}

div.story-container > header {
	margin-bottom: 4em;
	text-align: center;
}

div.story-container > #TOC li {
	list-style: none;
}

div.story-container > #TOC ul {
	padding-left: 1.3em;
}

div.story-container > #TOC > ul {
	padding-left: 0;
}

div.story-container > #TOC a:not(:hover) {
	text-decoration: none;
}

div.story-container > code {
	white-space: pre-wrap;
}

div.story-container > span.smallcaps {
	font-variant: small-caps;
}

div.story-container > div.columns {
	display: flex;
	gap: min(4vw, 1.5em);
}

div.story-container > div.column {
	flex: auto;
	overflow-x: auto;
}

div.story-container > div.hanging-indent {
	margin-left: 1.5em;
	text-indent: -1.5em;
}
/* The extra [class] is a hack that increases specificity enough to
     override a similar rule in reveal.js */
div.story-container > ul.task-list[class] {
	list-style: none;
}

div.story-container > ul.task-list li input[type="checkbox"] {
	font-size: inherit;
	width: 0.8em;
	margin: 0 0.8em 0.2em -1.6em;
	vertical-align: middle;
}

div.story-container > .display.math {
	display: block;
	text-align: center;
	margin: 0.5rem auto;
}
